.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dashboard .address-section .address {
  font-size: calc(3.2vw);
}
@media screen and (min-width: 992px) {
  .dashboard .address-section .address {
    font-size: 30px;
  }
}
.dashboard .address-section .changelly {
  margin-bottom: 17px;
}
.dashboard .transactions table td.id {
  max-width: 500px;
}
@media screen and (max-width: 992px) {
  .dashboard .transactions table td.id {
    max-width: 110px;
  }
}
.dashboard .ico-setup .alert .btn-primary {
  margin-top: 15px;
}